<section class="!my-2  hover:shadow-md flex items-center justify-center rounded-lg !p-2 cursor-pointer" matBadge="7"
        [class]="class"
        (click)="click()"
        [ngClass]="variant === 'add' 
                    ? '!bg-warning'
                    : variant === 'edit'
                        ? '!bg-info'
                        : variant === 'delete'
                            ? '!bg-danger'
                            : ''" >
    @if (icon) {
        <mat-icon [fontIcon]="icon"></mat-icon>
    }
    <p>{{ title }}</p>
</section>