
@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'Noto Sans, Noto Sans Thai, sans-serif',
    density: 0,
  ));
}

:root {
   --color-primary: #131921;
   --color-surface: #ffffff;
   --color-on-surface: #000000;
   --color-success: #7BC74D;
   --color-warning: #ffce12;
   --color-danger: #E84545;
   --color-info: #0D63A5; 
   --color-light: #E0E0E0; 
   --color-secondary: #f3f4f6; 
   --color-border: #404040;

   --color-primary-dark: #1e232b; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ถ้ามี body.dark → ใช้ dark
body.dark {
  color-scheme: dark;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  --mat-sys-background: var(--color-primary); /* พื้นหลัง dark */
  --mat-sys-on-background: var(--color-light); /* ข้อความบน dark */
  --mat-sys-surface: var(--color-primary); /* card, sheet */
  --mat-sys-on-surface: var(--color-light);
    /* -----------------------------
     Primary & Secondary Colors
  ----------------------------- */
  /* -----------------------------
     Mat-Card Colors
  ----------------------------- */
  --mat-sys-surface-container-low: var(--color-primary); /* สีพื้นหลังของ card */
  .mat-mdc-card  {
    border: 1px solid #404040 !important;
  }
  /* -----------------------------
     Mat-Text-Field Colors
  ----------------------------- */
  .mat-mdc-text-field-wrapper {
    background-color: var(--color-primary-dark) !important;
  }
  .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    background-color: var(--color-primary-dark) !important;
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: #404040 !important; /* ตอน focus ก็ยังคงเทาอ่อน */
  }
  /* -----------------------------
    Icon & Material UI
  ----------------------------- */
  .mat-icon{
    color: var(--color-light) !important;
    justify-content: center !important;
  }
  /* -----------------------------
    Drawer & Material UI
  ----------------------------- */
  .mat-drawer.mat-drawer-opened.mat-drawer-opened {
    background-color: var(--color-primary-dark) !important;
  }
  /* -----------------------------
    Tree & Material UI
  ----------------------------- */
  .mat-tree {
    background-color: var(--color-primary-dark) !important;
  }
  /* -----------------------------
    Tabs & Material UI
  ----------------------------- */
  .mat-mdc-tab-body-wrapper {
    background-color: var(--color-primary) !important;
  }
  .mat-mdc-tab {
    // Active tab (เมื่อถูกเลือก)
    &.mdc-tab--active {
      background-color: var(--color-primary);
    }
    .mdc-tab-indicator {
      display: none !important;
    }
  }
  // .mdc-tab__content {
  //   font-size: 16px !important;
  // }
  // .mat-mdc-tab-label-container {
  //   border: none !important;
  // }
  /* -----------------------------
    Admin Layout Content
  ----------------------------- */
  #main-content {
    background-color: var(--color-primary-dark) !important;
  }
  section {
    background-color: var(--color-primary) !important;
  }
  .panel {
    background-color: var(--color-primary-dark) !important;
  }
  /* -----------------------------
     Error / Warning
  ----------------------------- */
  --mat-sys-error: #b00020;          /* สีแจ้งเตือน / error */
  --mat-sys-on-error: #ffffff;       /* สีข้อความ/ไอคอนบน error */
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  font: var(--mat-sys-body-medium);
  font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
  margin: 0;
    /* -----------------------------
     Primary & Secondary Colors
  ----------------------------- */
  --mat-sys-primary: var(--color-primary);        /* สีหลักของแอป */
  --mat-sys-on-primary: var(--color-on-primary);    /* สีข้อความ/ไอคอนบน primary */
  --mat-sys-surface: var(--color-surface);        /* สีพื้นหลังของ card, sheet, menu */
  --mat-sys-on-surface: var(--color-primary);     /* สีข้อความ/ */
  --mat-sys-background: var(--color-surface);    /* สีพื้นหลังหลักของ app */
  --mat-sys-on-background: var(--color-primary);  /* สีข้อความบน background */
  --mat-sys-outline: var(--color-light);  /* สีเส้น outline บน Matertial UI */
  /* -----------------------------
     Mat-Card Colors
  ----------------------------- */
  --mat-sys-surface-container-low: var(--color-surface); /* สีพื้นหลังของ card */
  /* -----------------------------
     Mat-Text-Field Colors
  ----------------------------- */
  /* --mat-sys-surface-variant: var(--color-light); */
  /* -----------------------------
     Error / Warning
  ----------------------------- */
  --mat-sys-error: #b00020;          /* สีแจ้งเตือน / error */
  --mat-sys-on-error: #ffffff;       /* สีข้อความ/ไอคอนบน error */
  /* -----------------------------
      Card & Material UI
  ----------------------------- */
  .mat-mdc-card-title {
    font-size: 20px !important;
  }
  .mat-mdc-card-header {
    margin-bottom: 16px !important;
  }
  .mat-mdc-card  {
    padding: 14px !important;
    border: 1px solid var(--color-light) !important;
    border-radius: 8px !important;
    box-shadow: none !important;
  }
  /* -----------------------------
      Field & Material UI
  ----------------------------- */
  .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-right: none !important;
  }
  .mat-mdc-form-field-flex {
    margin-top: 1px !important;
  }
  .mat-mdc-form-field {
    margin-top: 6px !important;
  }
  .mat-mdc-form-field-infix {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    min-height: auto !important;
  }
  .mdc-text-field--outlined .mdc-notched-outline {
    height: 36px !important;
  }
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
  .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: var(--color-light) !important; /* ตอน focus ก็ยังคงเทาอ่อน */
  }
  /* -----------------------------
    Button & Material UI
  ----------------------------- */
  .mat-mdc-button:not(:disabled) {
    background-color: var(--color-warning) !important;
  }
  /* -----------------------------
    Icon & Material UI
  ----------------------------- */
  .mat-icon{
    color: var(--color-primary) !important;
    font-family: 'Material Icons Outlined' !important;
    font-size: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  /* -----------------------------
    Drawer & Material UI
  ----------------------------- */
  .mat-drawer.mat-drawer-opened.mat-drawer-opened {
    width: 20rem !important;
    border-radius: 0 !important;
    background-color: var(--color-secondary) !important;
  }
  /* -----------------------------
    Tree & Material UI
  ----------------------------- */
  .mat-tree {
    background-color: var(--color-secondary) !important;
    .mat-tree-node {
      justify-content: space-between !important;
      cursor:  pointer !important;
    }
  }
  /* -----------------------------
    Tabs & Material UI
  ----------------------------- */
  .mat-mdc-tab-body-wrapper {
    background-color: var(--color-surface) !important;
    border-radius: 8px !important;
    border-top-left-radius: 0 !important;
    padding: 30px !important;
  }
  .mat-mdc-tab {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    transition: background-color 0.2s ease;

    // Active tab (เมื่อถูกเลือก)
    &.mdc-tab--active {
      background-color: var(--color-surface, #e3f2fd);
      color: var(--color-primary, #1976d2);
    }
    .mdc-tab-indicator {
      display: none !important;
    }
  }
  .mdc-tab__content {
    font-size: 16px !important;
  }
  .mat-mdc-tab-label-container {
    border: none !important;
  }
  /* -----------------------------
    Modal & Material UI
  ----------------------------- */
  .mat-mdc-dialog-surface {
    border-radius: 8px !important;
  }
  /* -----------------------------
    Navbar & Material UI
  ----------------------------- */
  // nav {
  //   background-color: var(--color-secondary) !important;
  // }
  /* -----------------------------
    Admin Layout Content
  ----------------------------- */
  #main-content {
    background-color: var(--color-surface) !important;
    // min-height: calc(100vh - 160px) !important;
  }
  section {
    background-color: var(--color-surface) !important;
  }
  .panel {
    background-color: var(--color-secondary) !important;
  }
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* ทุก <a> เป็นสีน้ำเงิน */
a {
  color: var(--color-info); /* Tailwind blue-500 */
  text-decoration: none; /* เอา underline ถ้าไม่อยากให้มี */
}
/* hover effect */
a:hover {
  text-decoration: underline; /* หรือเปลี่ยนสี hover ถ้าต้องการ */
  color: var(--color-primary); /* darken blue-600 */
}






