@import "tailwindcss";

@theme {
  --color-primary: #ffce12;
  --color-ligth: #ffffff;
  --color-back: #000000;

  --color-surface: #ffffff;
  --color-on-surface: #000000;

  --color-success: #7BC74D;
  --color-warning: #FFD717;
  --color-danger: #E84545;
  --color-info: #0D63A5; 
}

:root {
  /* -----------------------------
     Primary & Secondary Colors
  ----------------------------- */
  --mat-sys-primary: var(--color-primary);        /* สีหลักของแอป */
  --mat-sys-on-primary: var(--color-on-primary);    /* สีข้อความ/ไอคอนบน primary */

  --mat-sys-surface: var(--color-ligth);        /* สีพื้นหลังของ card, sheet, menu */
  --mat-sys-on-surface: var(--color-ligth);     /* สีข้อความ/ */

  --mat-sys-background: var(--color-ligth);    /* สีพื้นหลังหลักของ app */
  --mat-sys-on-background: var(--color-black);  /* สีข้อความบน background */

  /* -----------------------------
     Mat-Card Colors
  ----------------------------- */
  --mat-sys-surface-container-low: var(--color-ligth);

  /* -----------------------------
     Error / Warning
  ----------------------------- */
  --mat-sys-error: #b00020;          /* สีแจ้งเตือน / error */
  --mat-sys-on-error: #ffffff;       /* สีข้อความ/ไอคอนบน error */
}
