

<mat-drawer-container class="h-screen w-screen" autosize>
  <!-- Sidenav -->
  <mat-drawer #drawer mode="side" opened>
    <div class="flex items-center justify-center">
      <img src="assets/icons/logo-dixo.png" class="w-24" alt="logo">
    </div>
    <aside class="!px-8 flex flex-col gap-4">
      @for (item of data_drawer; track item.id) {
        <div [routerLink]="item.link" class="flex items-center justify-between cursor-pointer hover:scale-105 transition-all duration-200 ease-in-out">
          <div class="flex items-center justify-between gap-4">
            <section class=" hover:shadow-md flex items-center justify-center rounded-xl !p-2 cursor-pointer">
              <mat-icon [fontIcon]="item.icon"></mat-icon>
            </section>
            <p>{{ item.title }}</p>
          </div>
          <mat-icon fontIcon="keyboard_arrow_right"></mat-icon>
        </div>
      }
    </aside>
  </mat-drawer>
  <!-- Content -->
  <div class="panel !px-4 flex flex-col gap-4 h-screen">
    <app-navbar />
    <app-header [title]="'Title v.3'" />
    <div class="!overflow-y-auto" id="main-content" >
      <section class="!p-6 rounded-lg shadow-lg">
        <router-outlet />
      </section>
    </div>
  </div>
</mat-drawer-container>
