# Build Folders
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.vsp
*.vspscc

# VS Code settings
.vscode/

# Visual Studio folders
.vs/
*.vcxproj.user
*.dbmdl

# Rider
.idea/

# Resharper
*.DotSettings.user

# Logs
*.log

# NuGet Packages
*.nupkg
packages/
.nuget/

# ASP.NET Core / MVC
wwwroot/lib/
node_modules/

# Publish outputs
publish/
*.Publish.xml
*.azurePubxml

# Other
*.DS_Store
*.class
*.pdb
*.exe
*.dll
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.log
*.vsix
*.appx
*.appxbundle
